body {
  padding: 0;
  margin: 0;
}

.main-heading {
  background-image: url('../assets/cover.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;

  &::before {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(70, 70, 70, 0.32);
  }
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}